*,*:before,*:after {
  margin: 0;
  padding: 0;
}

.container__user-posts {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  border: 1px solid black;
  /*justify-content: center;*/
}

/*.container__user {*/
/*  margin-right: 60px;*/
/*}*/

.vertical__line {
  width: 1px;
  height: 500px;
  background: gray;
  margin: 0 50px 0 30px;
}

body {

}
.wrapper__user-button {
  display: flex;

}

.wrapper__button {
  margin-left: 50px;
}

.profile__img img {
  width: 100px;
  border-radius: 50%;
  border: 1px solid black;
}

.profile__img {
  height: 5em;
  width: 5em;
  border: 1px solid black;
  border-radius: 50%;
}