*,*:before,*:after {
  margin: 0;
  padding: 0;
}

.container__user-posts {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  /*border: 1px solid black;*/
  /*justify-content: center;*/
}

/*.container__user {*/
/*  margin-right: 60px;*/
/*}*/

.vertical__line {
  width: 1px;
  height: 500px;
  background: gray;
  margin: 0 50px 0 30px;
}


.wrapper__user-button {
  display: flex;

}

.wrapper__button {
  margin-left: 50px;
}

.profile__img img {
  /*max-width: 100%;*/
  /*max-height: 100%;*/
  border-radius: 50%;
  overflow: hidden;
  /*border: 1px solid black;*/
}

.profile__img {
  display: flex;

  min-height: 100px;
  max-width: 100px;
  /*min-width: 100px;*/
  /*max-height: 100px;*/
  border: 1px solid gray;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 30px;

}

.container__profile {
  max-width: 200px;
  /*border: 1px solid black;*/
}

.profile__fname-lastname {
  text-align: center;
  margin-bottom: 30px;
}

.profile__text {
  color: gray;
  line-height: 22px;
  margin-bottom: 30px;
}

.profile__text span {
  color: black;
}

.list__menu {
  list-style: none;

  /*display: none;*/
}
.list__menu li {
  margin-bottom: 20px;
}
.list__menu a {
  text-decoration: none;
  color: black;
}

